#exp_container {
    position: relative;
    height: 1000px;
    width: 100%;
}

#con {
  position: absolute;
  width: 500px;
  left: 17px;
  top: 50px;
  height:50px;
}

#im1 {
  width: 479px;
  height: 60px;
	
}
#im2{
  position: absolute;
  width: 20px;
  height:20px;
  left:15px;
  top:34px;
}
#im3{
  position: absolute;
  width: 20px;
  height:20px;
  left:205px;
  top:34px;
}
#im4{
  position: absolute;
  width: 20px;
  height:20px;
  left:332px;
  top:34px;

}
#chartContainer{
  position: absolute;
  height:512px;
  width:500px;
  left:526px;
  top:125px;
}
#bt1 {
  position: absolute;
  left:10px;
  top:5px;
  background-color: #f1f1f1;
  color: blue;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}
#bt2 {
  position: absolute;
  left:200px;
  top:5px;
  background-color: #f1f1f1;
  color: blue;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}
#bt3 {
 position: relative;
left: 324px;
top: -59px;
background-color: #f1f1f1;
color: blue;
font-size: 16px;
padding: 16px 30px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: right;
}

#dot1 {
  height: 9px;
  width: 12px;
  background-color: white;   
  animation-delay: 15s;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
    left: 258px !important;
    top: 433px;
}
#dot2 {
  height: 10px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
    left: 258px;
    top: 360px;
}
 #xabox {
  width: 150px;
  height: 60px;
  background: linear-gradient(darkred, brown);
  position: absolute;
            left: 187px;
            top: 207px;

}
        #xbbox {
  width: 105px;
  height: 40px;
  background: linear-gradient(brown, indianred);
            position: absolute;
            left: 210px;
            top: 262px;
}
#xcbox {
  width: 40px;
  height: 100px;
  background: linear-gradient(to left, #bbb 0%, #bbb 100%);
              position: absolute;
            left: 245px;
            top: 300px;
}
    #yabox {
  width: 150px;
  height: 60px;
  background: linear-gradient(brown, darkred);
            position: absolute;
            left: 187px;
            top: 516px;
}
        #ybbox {
  width: 105px;
  height: 40px;
  background: linear-gradient(indianred, brown);
            position: absolute;
            left: 211px;
            top: 478px;
}
        #ycbox {
  width: 40px;
  height: 100px;
  background: linear-gradient(to left, #bbb 0%, #bbb 100%);
              position: absolute;
            left: 244px;
            top: 380px;
}
    #xdt {
  border-top: 40px solid #bbb;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 10px;
  width: 20px;
      position: absolute;
            left: 245px;
            top: 400px;
}
    #ydt {
  border-bottom: 40px solid #bbb;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 10px;
  width: 20px;
      position: absolute;
            left: 244px;
            top: 330px;
}
#matl{
  color:black;
  background-color: white;
}
#botbox{
  position:absolute;
  background-color: white ;
  width: 865px;
  height:50px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  top:650px;
  left:-3px;
}
#length{
  position: absolute;
  left:230px;
  top:50px;
  color:black;
  background-color: white;
}
#diameter{
  position: absolute;
  left:230px;
  top:100px;
  color:black;
  background-color: white;
}
#load{
  position: absolute;
  left:610px;
  top:50px;
  color:black;
  background-color: white;
}
#elongation{
  position: absolute;
  left:800px;
  top:50px;
  color:black;
  background-color: white;
}
#stress{
  position: absolute;
  left:420px;
  top:50px;
  color:black;
  background-color: white;
}
#strain{
  position: absolute;
  left:592px;
  top:100px;
  color:black;
  background-color: white;
}
#young{
  position: absolute;
  left:725px;
  top:100px;
  color:black;
  background-color: white;
}
#v1{
  position:absolute;
  height: 900px;
  width: 10px;
  left:3px;
  top:30px;
  background-color: #555;
}
#v2{
  position:absolute;
  height: 625px;
  width: 10px;
  left:499px;
  top:30px;
  background-color: #555;
}
#v3{
  position:absolute;
  height: 900px;
  width: 10px;
  left:1015px;
  top:30px;
  background-color: #555;
}
#l1{
  position:absolute;
  height: 10px;
  width: 1018px;
  left:3px;
  top:30px;
  background-color: #555;
}
#l2{
  position:absolute;
  height: 10px;
  width: 1018px;
  left:3px;
  top:645px;
  background-color: #555;
}
#l3{
  position:absolute;
  height: 10px;
  width: 1018px;
  left:3px;
  top:920px;
  background-color: #555;
}
#plength{
  position: absolute;
  left:298px;
  top:37px;
}
#pdiameter{
  position: absolute;
  left:302px;
  top:87px;
}
#pstress{
  position: absolute;
  left:480px;
  top:37px;
}
#pstrain{
  position: absolute;
  left:653px;
  top:87px;
}
#pload{
  position: absolute;
  left:668px;
  top:37px;
}
#pelongation{
  position: absolute;
  left:890px;
  top:37px;
}
#pyoung{
  position: absolute;
  left:858px;
  top:87px;
}
#mp{
 position: absolute;
  left:66px;
  top:114px; 
  font-size: 55px;
}
#mat{
  position: absolute;
  left:70px;
  top:40px;
  color:black;
  background-color: white;
  background-color: white;
}
#exp_tag{
 position: absolute;
  left:652px;
  top:25px; 
  font-size: 35px;
}
